<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
  <a class="navbar-brand m-2" href="#">jose nathaniel bonilla</a>
  <button class="navbar-toggler m-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link  m-2" href="#">inicio </a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle m-2" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          portafolio
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item m-2" [routerLink]="['/aplicaiones-web']">Aplicaciones web</a></li>
          <li><a class="dropdown-item m-2" [routerLink]="['/aplicaiones-de-escritorio']">Aplicaiones de escritorio</a></li>
          <li><a class="dropdown-item m-2" [routerLink]="['/aplicaiones-de-terminal']">Applicaiones de terminal</a></li>
        </ul>
      </li>
      <a class="nav-item nav-link m-2" [routerLink]="['/meritos']">méritos</a>
    </div>
    
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="card">
  propiedad de jose nathaniel bonilla &copy;
</footer>